<!DOCTYPE html>
<html>
<head>
<style>
<body>
background-color: lightblue;
p {
   
  color: blue;
  text-align: center;
 

} 
</style>
</head>

<h1>Ines Abbes</h1>
<p>Dont Judge Me</p>

</body>
</html>

